<h2 class="text-2xl font-bold mb-4 text-center">Update your profile</h2>

<div class="flex justify-center items-center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-1/2 px-4 py-2 border rounded" %>
  </div>

  <div class="mb-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-1/2 px-4 py-2 border rounded" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-4">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "w-1/2 px-4 py-2 border rounded" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-1/2 px-4 py-2 border rounded" %>
  </div>

  <div class="mb-4">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "w-1/2 px-4 py-2 border rounded" %>
  </div>

  <div class="actions text-center py-4">
    <%= f.submit "Update", class: "bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-600" %>
  </div>
<% end %>
</div>

<div class="text-xl mb-4 text-center py-8">
<h3 class=" font-bold">Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
  class: "bg-yellow-300 text-white font-semibold py-2 px-4 rounded-lg hover:bg-red-600",
  data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

  <div class="py-4">
    <%= link_to "Back", :back, class: "bg-green-300 text-white font-semibold py-2 px-4 rounded-lg hover:bg-green-500" %>
  </div>
</div>
