<div class="bg-white p-4 border rounded-lg">
  <h2 class="text-lg font-semibold mb-2"><%= post.user.name %></h2>

  <div class="text-green-500">
    <span class="text-slate-500 mb-4 text-xs">
      <%= time_ago_in_words(post.created_at)%> ago :: <%= post.visibility %>
    </span>
  </div>

  <!-- Post Content -->
  <p class="text-gray-800 mb-4"><%=raw post.content %></p>

  <!-- Likes and Comments -->
  <div class="flex justify-between items-center text-gray-600">
      <div>
          <span class="mr-2" id="likes-count-<%= dom_id(post) %>">
            <%= post.likes.count %> Likes
          </span>

          <!-- Comments Count -->
          <span>
            <%= post.comments.count %> Comments
          </span>
      </div>

        <!-- Like Button -->
        <%= render partial: 'likes/like_button', format: "html", locals: { post: post } %>

  </div>

  <!-- Comment Form -->
  <div id="comment-form-<%= dom_id(post) %>">
    <%= render partial: 'comments/form', format: "html", locals: { post: post } %>
  </div>

  <!-- Comments Section (if available) -->
  <div class="mt-4 space-y-2" id="comments-<%= dom_id(post) %>">
    <% post.comments.each do |comment| %>
      <%= render partial: 'comments/comment', format: "html", locals: { comment: comment } %>
    <% end %>
  </div>
</div>

